body{



  font-family: Georgia, 'Times New Roman', Times, serif;
}
.container {
  height: 100vh;
  padding:40px;
  overflow: hidden;
}
.card {
  background: white;
  width: 350px;
  height: 120px;
  position: relative;
  padding: 20px 20px;
}
.card .action {
  float: right;
  
}
button{
  background: rgb(97, 69, 97);
  color: white;
  transition: all 0.35 ease-in-out;
  border: 0px;
  font-size: 14px;
  padding: 7px 30px
}
.model {
  padding: 30px 40px;
  transform: translate(140%,70px);
  z-index: 2;
  background-color:white;
  width: 350px;
text-align: center;

  height: 100px;
}
.model  h2{

  text-align: center;
}
.btn {

margin: 20px 10px;
}
button:hover{
  border: 2px solid black;
  background: transparent;
  color: black;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
